<!-- Carousel Banner Section -->
<div class="container-fluid">
    <div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselBanner" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselBanner" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselBanner" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/imgs/basketball.jpg" class="d-block w-100" alt="BasketBall Court">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Reserve Basketball Courts</h5>
                    <p>One or Two Full-length, hardwood floor, Basketball Courts.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/imgs/dodgeball.jpg" class="d-block w-100" alt="DodgeBall Court">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Reserve Dodgeball Courts</h5>
                    <p>One or Two Full-size, hardwood floor, Dodgeball Courts</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/imgs/volleyball.jpg" class="d-block w-100" alt="VolleyBall Court">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Reserve Volleyball Courts</h5>
                    <p>One or Two Full-size, hardwood floor, Volleyball Courts</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/imgs/sampleSpace.jpg" class="d-block w-100" alt="Warehouse">
                <div class="carousel-caption top-0 d-none d-md-block">
                    <h5>Reserve General Use Open Area</h5>
                    <p>Large open, cement floor, open area with sound system and presentation stage area.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselBanner" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselBanner" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>