<section class="col-sm-9">
  <div class="row">
    <h2 class="col text-center" id="editProfileHeader">Edit Profile</h2>
  </div>
  <form class="form profile-form" id="profileForm">
    <div class="row">
      <div class="col text-end" id="nameLabel">Name:</div>
      <input class="col form-control" type="text" id="name-profile" value="{{name}}"/>
    </div>
    <div class="row">
      <div class="col text-end" id="emailLabel">Email:</div>
      <input class="col form-control" type="email" id="email-profile" value="{{email}}"/>
    </div>
    <div class="row">
      <div class="col text-end" id="passwordLabel">New Password:</div>
      <input class="col form-control" type="password" id="password-profile" value=""/>
    </div>
    <div class="row">
      <div class="col text-end" id="confirmLabel">Confirm New Password:</div>
      <input class="col form-control" type="password" id="password-confirm" value=""/>
    </div>
    <div class="row">
      <button class="mx-auto col-auto btn btn-primary" type="submit" id="updateProfile">Update Profile</button>
    </div>
  </form>
</section>
<script src="./js/profile.js"></script>