<!-- Footer Section -->
<footer class="container-fluid p-2 bg-company-primary">
    <div class="text-center text-white"> <i class="fas fa-copyright"> Copyright <script>document.write(new Date().getFullYear())</script></i></div>
</footer>