<!-- Header Section -->
<header>
    <div class="container-fluid bg-dark">
        <div class="row text-light">
            <div class="text-start col-sm-6">
                <div class="fs-4"> The Best Room Reservation Site Ever! -My mom.</div>
            </div>
            <div class="text-end col-sm-6">
                <div class="fs-4"> Plan Your Next Event.</div>
            </div>
        </div>
    </div>
</header>