<!-- Header Section -->
<header>
    <div class="container-fluid bg-company-primary">
        <div class="row p-2">
            <div class="text-start col-sm-7">
                <div class="fs-4"> Best Space Reservation Site Ever! -My mom.</div>
            </div>
            <div class="text-end col-sm-5">
                <div class="fs-4"> Plan Your Next Event.</div>
            </div>
        </div>
    </div>
</header>