<!-- Left column section -->
<form class="form search-form" id="searchForm">
    <!-- My User Filters -->
    {{#if (isAdministrator my_role) }}
    <!-- Administrator Only Items -->
    <div class="form-group row">
        <p><a class="btn text-white" href="/users" id="viewUsers">View Users</a></p>
    </div>
    {{/if}}
    {{#if logged_in}}
    <div class="accordion accordion-flush" id="accordionFlushUser">
        <div class="accordion-item" id="reservations">
            <h2 class="accordion-header text-center border-top border-bottom" id="flush-headReservations">
                <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseReservations" aria-expanded="false"
                    aria-controls="flush-collapseReservations">
                    My Reservations
                </button>
            </h2>
            <div id="flush-collapseReservations" class="accordion-collapse collapse"
                aria-labelledby="flush-headingReservations" data-bs-parent="#accordionFlushUser">
                <div class="form-group row">
                    <p>
                      <a class="btn text-white" href="/users/reservations/" id="myReservations">All Reservations</a>
                    </p>
                </div>
                <div class="form-group row">
                    <p><a class="btn text-white" href="/users/reservations/?active=true" id="activeReservations">Active
                            Reservations</a></p>
                </div>
                <div class="form-group row">
                    <p><a class="btn text-white" href="/users/reservations/?active=false"
                            id="reservationHistory">Reservation History</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <p><a class="btn text-white" href="/user/locations/" id="myLocations">My Locations</a></p>
    </div>
    {{/if}}
    <!-- General Search Filter Criteria -->
    <div class="form-group row">
        <input class="form-control me-2" type="search" id="keyword" name="keyword" placeholder="Keyword Search">
    </div>
    <div class="form-group row">
        <label for="date" class="col-sm-4 col-form-label text-end" id="dateLabel">Date:</label>
        <div class="col-sm-8">
            <input class="form-control" type="date" id="date" name="date" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="time" class="col-sm-4 col-form-label text-end" id="timeLabel">Time:</label>
        <div class="col-sm-8">
            <input class="form-control" type="time" id="time" name="time" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="zipcode" class="col-sm-4 col-form-label text-end" id="zipcodeLabel">Zip:</label>
        <div class="col-sm-8">
            <input class="form-control" type="number" placeholder="84111" id="zipcode" name="zipcode">
        </div>
    </div>
    <div class="form-group row">
        <label for="range" class="col-sm-4 col-form-label text-end" id="rangeLabel">Range: (mi)</label>
        <div class="col-sm-8">
            <input class="form-control" type="number" placeholder="10" id="range" name="range">
        </div>
    </div>

    <!-- Accordion Filter -->
    <div class="accordion accordion-flush" id="accordionFlushFilters">
        <div class="accordion-item" id="amenities-accordion">
            <h2 class="accordion-header text-center border-top border-bottom" id="flush-headAmenities">
                <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseAmenities" aria-expanded="false"
                    aria-controls="flush-collapseAmenities">
                    Amenities
                </button>
            </h2>
            <div id="flush-collapseAmenities" class="accordion-collapse collapse"
                aria-labelledby="flush-headingAmenities" data-bs-parent="#accordionFlushFilters">
                <div class="form-group row">
                    <label for="bathroom" class="col-sm-6 col-form-label text-end" id="bathroomLabel">Bathroom</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-check-input" id="bathroom" name="amenities_bathroom">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tables" class="col-sm-6 col-form-label text-end" id="tablesLabel">Tables</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-check-input" id="tables" name="amenities_tables">
                    </div>
                </div>
                <!-- if tables selected enable count field -->
                <div class="form-group row" id="tableCountRow" hidden="true">
                    <label for="tableCount" class="col-sm-6 col-form-label text-end" id="tableCountLabel">Count</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" placeholder="2" id="tableCount" name="tableCount">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="chairs" class="col-sm-6 col-form-label text-end" id="chairsLabel">Chairs</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-check-input" id="chairs" name="amenities_chairs">
                    </div>
                </div>
                <!-- if tables selected enable count field -->
                <div class="form-group row" id="chairCountRow" hidden="true">
                    <label for="chairCount" class="col-sm-6 col-form-label text-end" id="chairCountLabel">Count</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" placeholder="16" id="chairCount" name="chairCount">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sound" class="col-sm-6 col-form-label text-end" id="soundLabel">Sound System</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-check-input" id="sound" name="amenities_soundSystem">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="stage" class="col-sm-6 col-form-label text-end" id="stageLabel">Has Stage</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-check-input" id="stage" name="amenities_hasStage">
                    </div>
                </div>
                <div class="form-group row g-1">
                    <label for="sqFtStart" class="col-3 text-end" id="sqFtStartLabel">Sq. Ft.</label>
                    <div class="col-3">
                        <input type="number" class="form-control" placeholder="" id="sqFtStart" name="sqFtStart">
                    </div>
                    <label for="sqFtEnd" class="col-auto" id="sqFtEndLabel">-</label>
                    <div class="col-3">
                        <input type="number" class="form-control" placeholder="" id="sqFtEnd" name="sqFtEnd">
                    </div>
                </div>
            </div>
        </div> <!-- End Accordion item Amentities -->
        <div class="accordion-item" id="activites">
            <h2 class="accordion-header" id="flush-headingActivities">
                <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseActivities" aria-expanded="false"
                    aria-controls="flush-collapseActivities">
                    Activities
                </button>
            </h2>
            <div id="flush-collapseActivities" class="accordion-collapse collapse"
                aria-labelledby="flush-headingActivities" data-bs-parent="#accordionFlushFilters">
                <!-- TODO: Replace this list with an each loop of activities from db -->
                <div class="form-group row">
                    <label for="basketball" class="col-sm-6 col-form-label text-end"
                        id="basketballLabel">Basketball</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-check-input" id="basketball" name="activities_basketball">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="volleyball" class="col-sm-6 col-form-label text-end"
                        id="volleyballLabel">Volleyball</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-check-input" id="volleyball" name="activities_volleyball">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dodgeball" class="col-sm-6 col-form-label text-end"
                        id="dodgeballLabel">Dodgeball</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-check-input" id="dodgeball" name="activities_dodgeball">
                    </div>
                </div>
            </div>
        </div> <!-- End Accordion Item Activities -->
    </div> <!-- End Accordion Filters -->
    <div class="row">
        <button class="mx-auto col-auto btn btn-primary" type="submit" id="filterBtn">Filter Results</button>
    </div>
</form>

<script src="./js/search.js">
</script>
<script src="./js/searchFilter.js"></script>