<!-- TODO: Replace this list with an each loop of results from db -->
<!-- Main content section -->
<article class="col-sm-9">
    <div class="row">
        
        <div class="card col-md-6 col-lg-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/imgs/sampleSpace.jpg" class="card-img" alt="Sample Space">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" id="cardTitle">Card title</h5>
                            <p class="card-text" id="cardDescription">This is a wider card with supporting
                                text below as a natural lead-in to additional content. This content is a
                                little bit longer.</p>
                            <p class="card-text"><small class="text-muted"><a href="" class="reserve-link"
                                        id="reserveLink">Reserve Room</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/imgs/dodgeball.jpg" class="card-img" alt="Dodgeball Space">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" id="cardTitle">Card title</h5>
                            <p class="card-text" id="cardDescription">This is a wider card with supporting
                                text below as a natural lead-in to additional content. This content is a
                                little bit longer.</p>
                            <p class="card-text"><small class="text-muted"><a href="" class="reserve-link"
                                        id="reserveLink">Reserve Room</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/imgs/volleyball.jpg" class="card-img" alt="Volleyball Space">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" id="cardTitle">Card title</h5>
                            <p class="card-text" id="cardDescription">This is a wider card with supporting
                                text below as a natural lead-in to additional content. This content is a
                                little bit longer.</p>
                            <p class="card-text"><small class="text-muted"><a href="" class="reserve-link"
                                        id="reserveLink">Reserve Room</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/imgs/basketball.jpg" class="card-img" alt="Basketball Space">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" id="cardTitle">Card title</h5>
                            <p class="card-text" id="cardDescription">This is a wider card with supporting
                                text below as a natural lead-in to additional content. This content is a
                                little bit longer.</p>
                            <p class="card-text"><small class="text-muted"><a href="" class="reserve-link"
                                        id="reserveLink">Reserve Room</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>