<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.0/main.css"
  integrity="sha256-/rB/IDulpFpJSHjrUgRHzB99AnJh3RBNrUOpF+4QIKA=" crossorigin="anonymous">

<!-- Modal -->
<div class="modal fade" id="reserve-form-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Event Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="reservation-form">
          <div class="form-group row d-none">
            <input class="form-control" type="number" id="id" value="0" placeholder="">
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label text-end" id="descLabel">Description:</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" id="description" placeholder="">
            </div>
          </div>

          <div class="form-group row">
            <label for="sponsoredBy" class="col-sm-4 col-form-label text-end" id="sponsorLabel">Sponsor:</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" id="sponsoredBy" placeholder="">
            </div>
          </div>

          {{!-- <div class="form-group row">
            <label for="sponsoredBy" class="col-sm-4 col-form-label text-end" id="sponsorLabel">Sponsor:</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" id="sponsoredBy" placeholder="">
            </div>
          </div> --}}

          <div class="form-group row" style="width: 318px; padding-right: 15px; margin-left: auto">
            <input type="checkbox" class="btn-check" id="public" autocomplete="off">
            <label class="btn btn-outline-secondary" for="public">Public Event</label><br>
          </div>

          <div class="form-group row ml-auto">
            <label for="date" class="col-sm-4 col-form-label text-end" id="dateLabel">Date:</label>
            <div class="col-sm-8">
              <input class="form-control" type="date" id="date" placeholder="">
            </div>
          </div>

          <div class="form-group row" style="margin-left: 17px">
            <div class="col">
              <label for="startTime" class="col-sm-4 col-form-label text-end" id="startLabel">Start:</label>
              <div class="col-sm-8">
                <input class="form-control" type="time" id="startTime" placeholder="">
              </div>
            </div>

            <div class="col">
              <label for="endTime" class="col-sm-4 col-form-label text-end" id="endLabel">End:</label>
              <div class="col-sm-8">
                <input class="form-control" type="time" id="endTime" placeholder="">
              </div>
            </div>

            <div id="status" class="form-group row d-none ">
              <label class="status-label col-sm-4 col-form-label mx-auto p-3">Status: <span id="status-span"></span></label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="submit-reservation" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>
  var roomId = {{ roomId }}
</script>

<script src="/js/calendar.js"></script>
{{!-- <script>
  document.addEventListener('DOMContentLoaded', async function () {
    const modalEl = $("#reserve-form-modal")[0];
    const modal = new bootstrap.Modal(modalEl, {
      keyboard: false
    })

    //Form inputs 
    const descEl = $("#description");
    const sponsorEl = $("#sponsoredBy");
    const publicEl = $("#public")[0];
    const dateEl = $("#date");
    const startEl = $("#startTime");
    const endEl = $("#endTime");
    const idEl = $("#id");
    const statusEl = $("#status");
    const statusSpan = $("#status-span");

    $("#reserve-form-modal").on('hidden.bs.modal', function () {
      //reset form
      descEl.val('');
      sponsorEl.val('');
      dateEl.val('');
      startEl.val('');
      endEl.val('');
      idEl.val('0');
      statusEl.addClass('d-none');
    });

    const response = await fetch('/api/reservations/room/' + {{ roomId }}, {
      method: 'GET',
    });

    let reservations = await response.json();

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: reservations.map(reservation => {
        return {
          id: reservation.id,
          title: `${reservation.description} : ${reservation.status}`,
          start: reservation.startDate,
        };
      }),
      dateClick: function (info) {
        dateEl.val(info.dateStr);
        modal.show();
      },
      eventClick: function (info) {
        //Get the event and the reservation clicked
        let event = info.event;
        let reservation = reservations.find(res => res.id + '' === event.id);

        //Set the form fields and pull up the form
        descEl.val(reservation.description);
        sponsorEl.val(reservation.sponsoredBy);
        publicEl.checked = true; 

        //Split the date and time
        let startDate = new Date(reservation.startDate);
        let endDate = new Date(reservation.endDate);
        let dateStr = formatDate(startDate);
        dateEl.val(dateStr);

        startEl.val(`${startDate.getHours()}:${startDate.getMinutes()}`);
        endEl.val(`${endDate.getHours()}:${endDate.getMinutes()}`);

        //Set the id and the status, unhide the status
        idEl.val(reservation.id);
        statusSpan.text(reservation.status);
        statusEl.removeClass('d-none');

        if(reservation.status.includes('Pending') || reservation.status.includes('Rejected'))
          statusSpan.addClass('red-font');

        modal.show();
      },
    });
    calendar.render();

    //Add on click event listener of the form submit
    $('#submit-reservation').on('click', async values => {
      event.preventDefault();

      //Get start and end date by combining date and time fields
      let startDate = new Date(dateEl.val() + ' ' + startEl.val());
      let endDate = new Date(dateEl.val() + ' ' + endEl.val());

      //Check if there is an id, if so this item needs updated rather than posted
      let id = idEl.val();

      //Get the form values
      let reservation = {
        description: descEl.val(),
        sponsoredBy: sponsorEl.val(),
        isPublic: publicEl.checked,
        startDate: startDate,
        endDate: endDate,
        roomId: {{ roomId }},
      }

      let url = "";
      let method = "";

      if(id === '0')
      {
        url = '/api/reservations/';
        method = 'POST';
      }
      else
      {
        url = '/api/reservations/' + id;
        method = 'PUT';
      }

      //Call the reservation post route posting the new reservation
      let response = await fetch(url, {
        method: method,
        body: JSON.stringify(reservation),
        headers: { 'Content-Type': 'application/json' },
      });

      //Refresh the page or re render the calendar with updated data
      window.location.reload();
    });
    const formatDate = (date) => {
      let year = date.getFullYear();
      let month = date.getMonth() + 1;
      let day = date.getDate();

      return `${year}-${ month < 10 ? '0' + month : month }-${ day < 10 ? '0' + day : day }`;
    };
	});
</script> --}}

<div id="calendar">

</div>