<h2>Calendar</h2>

<div id="calendar">
	
</div>

{{!-- <script src="https://data.jsdelivr.com/v1/package/npm/fullcalendar-scheduler/badge"></script>
<script src="https://www.jsdelivr.com/package/npm/fullcalendar-scheduler"></script> --}}

<script src="/js/calendar.js"></script>
