<!-- Carousel Banner Section -->
{{>carousel}}

<!-- Main Body Sections -->
<div class="container">
  <div class="row">
    <!-- Left column section -->
    {{>searchFilters}}

    <!-- Main content section -->
    {{>searchResults}}

    <!-- Right column section -->

  </div>
</div>