<!-- Welcome Banner -->
<div class="row">
  <div class="col-auto text-center">
    <h2>Welcome to {{name}}!</h2>
  </div>
</div>

<!-- Main Body Section -->
<div class="container">
  <div class="row">
    <!-- Left column section -->
    <section class="col-sm-3 bg-company-secondary">
      {{>searchFilters}}
    </section>
    <!-- Main content section -->
    <secion class="col-sm-9">
      {{>editRoom}}
      {{>imagesCarousel}}
    </secion>
    <!-- Right column section -->
  </div>
</div>
<script src="/js/room.js"></script>