<!-- Welcome Banner -->
<div class="row">
  <div class="col-auto text-center">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<!-- Main Body Section -->
<div class="container">
  <div class="row">
    <!-- Left column section -->
    <section class="col-sm-3 bg-company-secondary">
      {{>searchFilters}}
    </section>
    <!-- Main content section -->
    {{>editUser}}
    <!-- Right column section -->
  </div>
</div>